{% extends 'layout.html' %}

{% block content %}

  <div class="timeline">

    <div>
      <form id="twit-form" action="/post" method="post" enctype="multipart/form-data">

        <div class="img-preview">
          <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
          <input id="img-url" type="hidden" name="url">
        </div>
        <div>
          <label id="img-label" for="img">사진 업로드</label>
          <input id="img" type="file" accept="image/*">
          <form id="form" action='/upload' method='post'   enctype='multipart/form-data'>   

          <button id="twit-btn" type="submit" href = '/post' class="btn">누르시오</button>
         </form>
        </div>
      </form>
    </div>
 

{% endblock %}